:root {
    --background: rgb(215, 184, 131);
    --header-background: orange;
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background-image: url(/assets/pink.jpg);
    background-size: cover;
    display: grid;
    transform: scale(0.6);
    position: sticky;
    grid-template-columns: max-content;
    margin-left: -300px;

}

main {
    padding-bottom: 20px;
    justify-content: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin-top: -200px;
}

h1 {
    font-size: 100px;
    color: white;
    outline-color: black;
    position: static;
    font-family: fantasy, 'Franklin Gothic Medium';
    margin: 10px;
    padding-bottom: 10px;
}

audio {
    opacity: 0.5;
}

label {
    text-decoration: wavy;
    color: blue;
    font-size: 5rem;
    text-align: center;
    padding: 20px;
    margin: 10px;
    letter-spacing: 3px;

}

.class-div {
    border: solid black 2px;
    text-align: justify;
    padding: 20px;
    margin: 20px;
    align-items: center;
}

h2 {
    border-bottom: dashed 10px;
    border-color: black;
    padding: 10px 1px 15px 50px;
    width: 100%;
    font-family: cursive;
    font-size: 30px;
    text-align: start;
    height: 100%;
    border-spacing: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    text-align: center;
    color: blue;
}

img {
    border-bottom: dashed 10px;
    border-color: black;
    padding: 10px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;


}



section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#stock-list,
#animal-list,
#avatar-list,
#company-list {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    border: double 5px white;
}

#stock-section,
#animal-section,
#avatar-section,
#company-section {
    border: 5px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 50px;


}

p {
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}